.signin {
	height: 100vh;
	padding-top: 100px;
	--viewport-width: 100vw;
	--viewport-height: 100vh;

	/* Визначаємо змінні для розмірів чверті екрану */
	--quarter-width: calc(var(--viewport-width) / 4);
	--quarter-height: calc(var(--viewport-height) / 4);

	/* Визначаємо змінні для координат радіусу градієнту */
	--center-x: calc(var(--viewport-width) - var(--quarter-width) + 250px);
	--center-y: calc(var(--viewport-height) - var(--quarter-height) + 100px);

	/* Визначаємо змінну для градієнту */
	--gradient: radial-gradient(
		circle at var(--center-x) var(--center-y),
		#fce7d1,
		#edc1db,
		#d5f0e4,
		#faedd6,
		#f7dbcf 30%,
		transparent 60%
	);

	/* Встановлюємо фоновий градієнт з використанням змінної --gradient */
	background-image: var(--gradient);
}

.signin__container {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 3rem;
}

.signin__auth-form {
	width: 40%;
	max-width: 600px;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow);

	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

.signin__avatar {
	width: 160px;
	height: 160px;
	margin-bottom: 2em;
}

.signin__avatar > img {
	max-width: 100%;
}

.signin__auth-form .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.signin__auth-form form > label {
	font-weight: bold;
	margin-bottom: 0.5em;
}

.signin__input,
.signin__input::placeholder {
	text-align: center;
	outline: none;
	background: transparent;
	color: var(--button-hover-color-bg);
	font-weight: 700;
}

.signin__input,
.signin__input:active,
.signin__input:focus,
.signin__input:hover {
	border: 2px solid transparent;
	border-image: var(--dark-gradient);
	border-image-slice: 1;
}

.signin__auth-form form > button,
.signin__auth-form form > input[name='username'] {
	width: 70%;
	height: 3rem;
	border-radius: 5px;
}

.signin__btn {
	display: block;
	width: fit-content;
	text-decoration: none;
	text-transform: uppercase;
	color: #f3f3f3;
	background: var(--dark-gradient);
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.7s linear;
	text-align: center;
}

.signin__btn:hover {
	opacity: 0.9;
	background: var(--button-color-active-bg);
}

.signin__btn:disabled {
	opacity: 0.3;
}

.signin__btn:disabled:hover {
	cursor: not-allowed;
	background: var(--dark-gradient);
}

@media screen and (max-width: 1024px) {
	.signin__auth-form form > button,
	.signin__auth-form form > input[name='username'] {
		width: 90%;
		height: 4rem;
	}
}

@media screen and (max-width: 800px) {
	.signin__container {
		padding: 0 1rem;
	}

	.signin__auth-form {
		width: 75%;
	}

	.signin__auth-form form > button,
	.signin__auth-form form > input[name='username'] {
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media screen and (max-width: 420px) {
	.signin__auth-form {
		padding: 1rem;
		width: 90%;
	}
}
