.book-order {
	height: fit-content;
	padding: 1em;
	font-weight: bold;
	font-size: 1.1rem;
}

.book-order__container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.book-order__price,
.book-order__amount,
.book-order__total,
.book-order__books-in-stock {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.book-order__amount .quantity-block {
	gap: 0.5rem;
}

.book-order__count {
	background: inherit;
	border: 1px solid rgba(255, 255, 255, 0.5);
	width: 3rem;
	border-radius: 5px;
	text-align: center;
	font-weight: normal;
	padding: 0.5rem;
	position: relative;
}

.book-order__books-in-stock {
	font-size: 0.9rem;
	opacity: 0.8;
	margin-top: -0.5rem;
}

.book-order__btn {
	margin-top: 1em;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	cursor: pointer;
}

.book-order__btn:disabled,
.book-order__btn:disabled:hover {
	background: var(--button-hover-color-bg);
	opacity: 0.7;
	cursor: not-allowed;
}
