/* reset styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

ul[class],
ol[class] {
	list-style: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: black;
}

img {
	max-width: 100%;
	display: block;
}

article > * + * {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	all: unset;
}

input:active,
input:focus,
input:focus-visible {
	outline: none;
}

input[type='reset'] {
	appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

a,
button {
	-webkit-tap-highlight-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

/*----------------------------------------------------------------*/
:root {
	--background-color: #ffffff;

	--gradient: -webkit-linear-gradient(
		60deg,
		#fce7d1,
		#edc1db,
		#d5f0e4,
		#faedd6,
		#f7dbcf
	);
	--dark-gradient: -webkit-linear-gradient(
		60deg,
		#f79533,
		#f37055,
		#ef4e7b,
		#a166ab,
		#5073b8,
		#1098ad,
		#07b39b,
		#6fba82
	);

	--main-background-color: var(--background-color);
	--main-text-color: #333333;

	--button-color-default-bg: var(--gradient);
	--button-color-default-text: #333;
	--button-color-active-bg: #e04a2b;
	--button-color-active-text: #ffffff;
	--button-hover-color-bg: #b3557e;

	--link-color: #5073b8;
	--link-hover-color: #a166ab;

	--border-color: #cccccc;

	--shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*----------------------------------------------------------------*/
html,
body {
	font-size: 16px;
	font-weight: 500;
	font-family: 'Ruda', Verdana, Geneva, Tahoma, sans-serif;
	height: 100vh;
}

body > * {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	flex: 1 1 auto;
	padding-top: 100px;
}

section {
	height: 100%;
}

.button {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #f3f3f3;
	background: var(--button-hover-color-bg);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s linear;
	text-align: center;
	padding: 0.5rem 1rem;
}

@media screen and (min-width: 1024px) {
	.button:hover,
	.button:active,
	.button:focus {
		opacity: 0.9;
		background: var(--dark-gradient);
		cursor: pointer;
	}
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 420px) {
	html {
		font-size: 15px;
	}
}
